<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <!--TEST SAVING DATA-->
    <!-- Test saving insertion parameters-->
    <Parameter name="accountId" value="8"/>
    <Parameter name="userId" value="3"/>
    <Parameter name="savingName" value="AUTOMATED_TEST_SAVING-1"/>
    <Parameter name="savingValue" value="200"/>
    <Parameter name="savingDate" value="2024-01-18"/>

    <!-- Test saving update parameters-->
    <Parameter name="newLowerSavingValue" value="100"/>
    <Parameter name="newHigherSavingValue" value="300"/>


    <!--TEST RECEIVABLE DATA-->
    <!--Test receivable insertion parameters-->
    <Parameter name="receivableName" value="AUTOMATED_TEST_RECEIVABLE-1"/>
    <Parameter name="receivableValue" value="200"/>
    <Parameter name="debtorName" value="John"/>
    <Parameter name="sourceAccountName" value="SYSTEM_DEFINED_SAVING_ACCOUNT"/>
    <Parameter name="totalPaidAmount" value="0"/>
    <Parameter name="receivableStatus" value="New"/>
    <Parameter name="createdDate" value="2024-01-25"/>
    <Parameter name="dueDate" value="2026-01-25"/>

    <!--Test receivable update parameters-->
    <Parameter name="newLowerReceivableValue" value="100"/>
    <Parameter name="newHigherReceivableValue" value="300"/>

    <!--TEST TRANSFER DATA-->
    <!--Test transfer insertion parameters-->
    <Parameter name="sourceAccountId" value="8"/>
    <Parameter name="destinationAccountId" value="24"/>
    <Parameter name="transferName" value="AUTOMATED_TEST_TRANSFER_1"/>
    <Parameter name="sentValue" value="500.50"/>
    <Parameter name="receivedValue" value="500.50"/>
    <Parameter name="exchangeRate" value="1.0"/>
    <Parameter name="transactionId" value=""/>
    <Parameter name="transferObservations" value=""/>
    <Parameter name="transferDate" value="2024-01-28"/>

    <!--Test transfer update parameters-->
    <Parameter name="newLowerSentValue" value="400.80"/>
    <Parameter name="newHigherSentValue" value="600.90"/>
    <Parameter name="newLowerReceivedValue" value="400.80"/>
    <Parameter name="newHigherReceivedValue" value="600.90"/>
  </TestRunParameters>
</RunSettings>